# Redis
host='redis-1111.crce175.eu-north-1-1.ec2.redns.redis-cloud.com'
port=1754,
decode_responses=True
username="default"
password="xaaSAWEFFGgmUh6XzPeKCzhs8"

# postgres
PGHOST='ep-floral-toothet-agvo6ma6-pooler.c-2.eu-central-1.aws.neon.teches'
PGDATABASE='neonse'
PGUSER='neondb_owner'
PGPASSWORD='npg_1wo6ITCjHTDSA'
PGSSLMODE='requires'
PGCHANNELBINDING='requires'
